/* General Styles */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Navigation Styles */
  
  nav {
    background-color: #007bff;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  /* Button Styles */
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #218838;
  }
  
  /* Notice Board Styles */
  
  .card {
    margin-bottom: 20px;
  }
  
  /* Sliding Texts Styles */
  
  .notificationbody marquee {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  /* Table Styles */
  
  .table-style {
    border: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table-style th,
  .table-style td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table-style th {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  